<a href="https://colab.research.google.com/github/Samannita29/PYTHON-CODE/blob/master/Assign_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruit_list=["Apple","orange","grapes"]
list1=[]

In [ ]:
fruit_list=["Apple","orange","grapes"]
list1=[]
for i in range(0,3) :
    positions(fruit_list[i])
   
        

    

NUM = 31
def positions(str): 
    for i in str: 
        con=((ord(i) & 31)) 
    list1.append(con)
list1

In [ ]:
NUM = 31
   
# Function to calculate the position 
# of characters 
def positions(str): 
    for i in str: 
           
        # Performing AND operation 
        # with number 31 
        print((ord(i) & 27), end =" ")

In [ ]:
positions("apple")

In [ ]:
5 & 4

In [ ]:
1 & 31

In [ ]:
a=4 
b=9
if a==4 & b==4:
    print('hello')
else:
    print("error")

In [ ]:
56 & 89

In [ ]:
1 & 31

In [ ]:

fruit_list=["Apple","orange","grapes"]
list1=[]
str_conv=""




for fruit in fruit_list:
    for i in fruit.lower(): 
        str_conv +="".join(str(ord(i)-97+1))
    list1.append(str_conv)
    str_conv=""

  

        
list1

In [ ]:
positions(fruit_list[0])

In [ ]:
a=10
b=str(a)

In [ ]:
import string
str(123)

In [ ]:
str(10)

In [ ]:
print(str(12))

In [ ]:
print("%s",str(20))

In [ ]:
pi=3.14
"the value of pi is "+str(pi)

In [ ]:
pi=3.14

# fibonacci series

In [ ]:
num=int(input("enter the number of terms"))
n0=0
n1=1
count=1
if num<=0 :
    print('enter a positive number')
elif num==1:
    print(n0)
else:
    while count<=num:
        if count%2==0:
            print('even')
        
        elif count%2!=0:
            print(n0)
        nth=n0+n1
    
        n0=n1
        n1=nth
        count +=1

enter the number of terms5
0
even
1
even
3

In [ ]:
num=int(input("ENTER THE TOTAL NUMBER OF TERMS"))
element=[]
suma=0
for ele in range(0,num):
    number=int(input("enter the number"))
    element.append(number)
average=sum(element)/num
average

ENTER THE TOTAL NUMBER OF TERMS5
enter the number8
enter the number89
enter the number4
enter the number1
enter the number6

21.6

In [ ]:
word=str(input("enter a word"))
repeat={}
for key in word.lower():
    
    repeat[key] =0
for key in word.lower():
    repeat[key] +=1
print("repeated characters are")
for key,value in repeat.items():
    if value>1:
        print(key)

enter a wordsamannIta
repeated characters are
a
n

In [ ]:
word="aApleee"
repeat={}
for key in word.lower():
    
    repeat[key] =0
for key in word.lower():
    repeat[key] +=1
print("repeated characters are")
for key,value in repeat.items():
    if value>1:
        print(key)

repeated characters are
a
e

In [ ]:
trial={}
trial={'a':1,'b':1}

In [ ]:
trial['a'] +=1

In [ ]:
trial

{'a': 3, 'b': 1}

In [ ]:
trial['a'] +=1

In [ ]:
trial['c'] +=1

KeyError: 'c'

In [ ]:
trial.values() >11

TypeError: '>' not supported between instances of 'dict_values' and 'int'